<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>
        {$lang->privat_module_name}
    </name>
    <settings>
        <variable>storeId</variable>
        <name>{$lang->privat_store_id}</name>
    </settings>
    <settings>
        <variable>password</variable>
        <name>{$lang->privat_password}</name>
    </settings>
    <settings>
        <variable>merchant_type</variable>
        <name>{$lang->privat_merchant_type}</name>
        <options>
            <name>{$lang->privat_merchant_type_ii}</name>
            <value>II</value>
        </options>
        <options>
            <name>{$lang->privat_merchant_type_pp}</name>
            <value>PP</value>
        </options>
    </settings>
</module>